<h1 style="text-align: center">Air AMS</h1>
<div fxLayout="row" fxLayoutAlign="space-aroundstart" fxLayoutGap="20px">
  <mat-card class="gy-5" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Tasks for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
        dolore rem! Adipisci facilis ab error voluptate repudiandae
        reprehenderit magni unde, assumenda aut atque! Vitae recusandae laborum
        dignissimos repudiandae sunt. Sunt. Minima ut nobis ea, esse, est harum
        fugiat reiciendis sapiente sed aut fuga! Aut tempora maxime, vitae
        laboriosam eaque accusamus voluptatem repudiandae iusto cum officia fuga
        asperiores ullam obcaecati aliquam.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card px-4" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >To Do List for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        provident quos animi nesciunt enim, non explicabo obcaecati culpa,
        doloremque eius tempora, placeat quibusdam sed quisquam cum omnis
        cupiditate delectus possimus! At, hic! Voluptatum perferendis molestias
        modi velit porro eligendi molestiae libero magnam nobis voluptate
        delectus exercitationem vero illum rerum animi quia, temporibus officia
        esse perspiciatis natus, ab quae. Hic, distinctio.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Current Mo. Summary As Of
        {{ date1 | date: "shortDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vel ea
        maxime. Magni amet animi, commodi qui sunt asperiores quo, iusto nihil
        expedita doloremque dolor veniam, odit architecto non sed? Libero, ipsum
        fugit ipsam sapiente explicabo amet facilis at labore quo omnis,
        repellendus consequuntur quasi natus ex sint. Ratione consequatur veniam
        ex, error ipsa maxime velit earum sed delectus quas!
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-aroundstart" fxLayoutGap="20px">
  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Tasks for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fugit
        reprehenderit eum voluptatum error dolores modi amet distinctio quod
        vero enim molestiae explicabo facilis expedita magni fuga ab, iusto
        tenetur! Perferendis amet cum soluta consequatur sed maxime quidem nulla
        tempore quam, cumque labore id tempora atque incidunt totam quas rem
        veniam nesciunt sit voluptatibus aut mollitia porro. Cupiditate,
        asperiores accusantium?
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >To Do List for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut
        molestiae dolor recusandae aliquam fuga porro, mollitia, hic nemo omnis
        nisi soluta sequi ea ullam, praesentium quo voluptatibus iste. Facilis!
        Quae autem doloribus laborum accusantium, error quia similique
        necessitatibus labore. At ipsa facere accusamus consequuntur doloremque
        illum. Suscipit eaque esse, fugiat nobis aspernatur provident, illum
        pariatur architecto, laudantium itaque laborum?
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Current Mo. Summary As Of
        {{ date1 | date: "shortDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        accusantium eaque, ratione omnis et dolorem aliquid quibusdam aut sed,
        suscipit quis dolore repellendus laboriosam sequi sapiente molestias
        tenetur laudantium. Obcaecati. Et eveniet repudiandae adipisci quos
        blanditiis explicabo consequatur voluptate incidunt distinctio, delectus
        accusantium ipsum, dolores voluptatum dolore tempore fuga? Officiis ex
        earum harum corporis nam error commodi consequuntur repellendus vel.
      </p>
    </mat-card-content>
  </mat-card>
</div>
