<div fxLayout="row" fxLayoutAlign="space-aroundstart" fxLayoutGap="20px">
  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Tasks for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, eum
        illum. Minus rem possimus nemo minima tenetur modi laudantium non quis
        debitis ipsum cupiditate, porro omnis, ullam excepturi officia fuga! Ut
        perferendis tenetur, hic veritatis labore saepe sed, voluptate sequi
        quos provident quis ex rerum maiores eius quod. Doloremque mollitia nam
        vitae natus numquam, animi consequatur accusamus vel delectus porro.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >To Do List for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum inventore
        enim quia, vitae assumenda suscipit atque beatae eos aliquid velit saepe
        necessitatibus natus dicta sunt minima totam, earum sed. Veritatis? Modi
        placeat reiciendis, pariatur at minus, praesentium possimus distinctio
        ab dolorum libero ea magni dignissimos iure id eius molestiae a
        consectetur, quasi rem vitae similique sapiente aliquam. Consectetur,
        iusto molestias?
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Current Mo. Summary As Of
        {{ date1 | date: "shortDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi in
        accusamus a? Esse ipsa quidem exercitationem molestiae magni asperiores
        velit eveniet nobis suscipit et, animi porro dolore magnam ipsam
        laboriosam. Consectetur facilis illo iusto consequuntur earum optio rem
        ratione voluptatum hic ullam dolorum soluta architecto aspernatur
        repellendus nisi sed quo quos esse, asperiores sit et? Voluptates iste
        quas aliquam est.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-aroundstart" fxLayoutGap="20px">
  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Tasks for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita non
        aliquid modi vitae rem fuga eaque corporis delectus hic laudantium?
        Dolor quidem optio et, cumque quod sapiente nulla amet laboriosam. Iure
        necessitatibus amet repellendus cumque, voluptatibus delectus rem,
        tenetur maxime modi repudiandae nisi vel consequatur. Illum quam,
        adipisci incidunt temporibus sit eaque non consequuntur eos rem pariatur
        neque impedit veniam?
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >To Do List for {{ date1 | date: "mediumDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam corporis
        omnis laboriosam molestias, nemo beatae rem! Eaque earum reprehenderit
        ut, sequi, officiis doloribus soluta explicabo consequatur, nobis dolor
        sunt quibusdam? Debitis dolore voluptates enim ipsa tempore voluptatum.
        Quae itaque eum, iure assumenda dignissimos modi repudiandae quaerat
        nulla voluptate debitis autem cumque eaque! Aperiam nulla aliquid iusto
        dolorum sit perspiciatis temporibus.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="30">
    <mat-card-title-group>
      <mat-card-title
        >Current Mo. Summary As Of
        {{ date1 | date: "shortDate" }}</mat-card-title
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
        repudiandae! Illo tempora porro fugiat architecto nam officia! Et
        impedit autem voluptas cum, mollitia consequatur suscipit recusandae
        dolor beatae illum nostrum! Rem ducimus sit pariatur esse debitis
        temporibus voluptatum nam reprehenderit neque quisquam! Provident
        voluptatum deserunt expedita fugit, consectetur sint ipsam inventore
        quis! Dolore nulla, aut nam perspiciatis nesciunt ullam voluptatum.
      </p>
    </mat-card-content>
  </mat-card>
</div>
