.main {
    background-image : url('../../assets/images/BirdWater.jpg');
    background-size: cover;
}

.left {
    background-image: url('../../assets/images/WhiteFlowers.jpg');
    background-size: cover;
}

.right {
    background-image: url('../../assets/images/YellowStone01.jpg');
    background-size: cover;
}

* {
    color:yellow;
}