<div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="15" fxFlex.cs="55" class="left">
        <h1>Left Side</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci optio fugiat blanditiis doloremque dignissimos voluptates sit non quo incidunt?
             Inventore eum sint repellat corporis numquam tempore saepe quas explicabo eius?
        Iure optio odit minima, sit, earum sunt maiores ad est autem tenetur expedita labore. Quasi quia placeat ea,
         rerum ipsum officiis reiciendis cumque expedita, eum fugiat laboriosam odit quam neque.</p>
    </div>
    <div fxFlex="55"  class="main">
        <h1>Main</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, aspernatur. Temporibus aut qui deserunt rem minus incidunt nemo itaque tenetur 
            corrupti modi, eum mollitia ab ea totam facilis corporis fuga!</p>
    </div>
    <div fxFlex="35" fxFlex.xs="15" class="right">
        <h1>Right Side</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ut consequuntur culpa eaque maxime nobis, modi corporis distinctio ipsam repellendus 
            numquam doloribus esse, dicta officiis eum eos! Eaque, nostrum fugiat?</p>
    </div>

</div>

<div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="15" fxFlex.cs="55" class="left">
        <h1>Left Side</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci optio fugiat blanditiis doloremque
            dignissimos voluptates sit non quo incidunt?
            Inventore eum sint repellat corporis numquam tempore saepe quas explicabo eius?
            Iure optio odit minima, sit, earum sunt maiores ad est autem tenetur expedita labore. Quasi quia placeat ea,
            rerum ipsum officiis reiciendis cumque expedita, eum fugiat laboriosam odit quam neque.</p>
    </div>
    <div fxFlex="55" class="main">
        <h1>Main</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, aspernatur. Temporibus aut qui deserunt
            rem minus incidunt nemo itaque tenetur
            corrupti modi, eum mollitia ab ea totam facilis corporis fuga!</p>
    </div>
    <div fxFlex="35" fxFlex.xs="15" class="right">
        <h1>Right Side</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ut consequuntur culpa eaque maxime nobis,
            modi corporis distinctio ipsam repellendus
            numquam doloribus esse, dicta officiis eum eos! Eaque, nostrum fugiat?</p>
    </div>

</div>